body {
    background: #f9f9fa;
    
}

.search {
    background: none;
    border: none;
    border-bottom: 1px solid #5294E2;
	box-shadow: 0 0 10px black;
    color: #7f8fa6;
	position: absolute;
    top: 150px;
	width: 1230px;
}

.search:focus {
    background: none;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #5294E2;
	box-shadow: 0 0 10px black;
}

.searchicon {
    max-height: 39px;
}

h4 {
    font-family: "Lucida Console", Monaco, monospace;
    color: #7a8b94;
}

ul {
    list-style: none;
    margin-left: 15px;
}

a {
    color: #717883;
    font-family: "Lucida Console", Monaco, monospace;
}
