html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}audio,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}img{border:0}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=submit]{-webkit-appearance:button;cursor:pointer;box-sizing:border-box}input[type=text]{-webkit-appearance:none;appearance: none;box-sizing:border-box}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;box-sizing:border-box;border-color:#ddd}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

body,div{font-size:0;}
p, span,h1,h2,h3,h4,h5,h6{margin:0;word-spacing:normal;word-wrap:break-word;-ms-word-wrap:break-word;pointer-events:auto;}
sup{font-size:inherit;vertical-align:baseline;position:relative;top:-0.4em;}
sub{font-size:inherit;vertical-align:baseline;position:relative;top:0.4em;}
ul{display:block;word-spacing:normal;word-wrap:break-word;list-style-type:none;margin:0;-moz-padding-start:0;-khtml-padding-start:0;-webkit-padding-start:0;-o-padding-start:0;-padding-start:0;-webkit-margin-before:0;-webkit-margin-after:0;}
li{display:block;}
li p{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select::none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
form{display:inline-block;}
a{text-decoration:inherit;color:inherit;-webkit-tap-highlight-color:rgba(0,0,0,0);}
textarea{resize:none;}
.shm-l{float:left;clear:left;}
.shm-r{float:right;clear:right;}
.whitespacefix{word-spacing:-1px;}
video:not(#video_background):not(.videoinline){width:100%;max-width:900px;}
video:-webkit-full-screen{max-width:100% !important;}
video:-moz-full-screen{max-width:100% !important;}
video:-ms-fullscreen{max-width:100% !important;}
video:fullscreen{max-width:100% !important;}
.player1.fullscreen1-active video{max-width:100% !important;}
html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
@font-face{font-family:"Font Awesome 5 Brands";src:url('fa-brands-400.ttf') format('truetype');font-weight:400;}
#body{background-color:rgb(231,232,235);}
.pos{position:relative;margin-top:46px;}
.vis{display:block;vertical-align:top;}
.section{pointer-events:none;min-width:1400px;width:1400px;margin-left:auto;margin-right:auto;}
.vis-2{display:inline-block;vertical-align:top;}
.pos-2{position:relative;margin-left:0;margin-top:0;}
.size{min-width:1400px;width:1400px;min-height:790px;}
.cont{z-index:1;border:0;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;background-color:rgb(249,249,249);box-shadow:18px 15px 24px rgba(0,0,0,0.4);}
.size-2{min-width:1400px;width:1400px;min-height:46px;}
.cont-2{z-index:2;border:0;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;background-color:rgb(231,232,235);box-shadow:0 2px 6px rgba(0,0,0,0.4);}
.pos-3{position:relative;margin-left:15px;margin-top:6px;}
.size-3{min-width:922px;width:922px;min-height:31px;}
.pos-4{position:relative;margin-left:0;margin-top:5px;}
.size-4{min-width:25px;width:25px;min-height:25px;}
.cont-4{z-index:3;pointer-events:auto;}
.button{border:0;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;background-color:transparent;}
.button:hover{background-color:rgba(36,138,210,0.26);border-color:rgb(113,120,131);color:rgb(113,120,131);}
.button:active{background-color:rgb(82,100,111);border-color:rgb(113,120,131);color:rgb(249,249,249);}
.vis-3{display:inline-block;overflow:hidden;outline:0;}
.size-5{width:25px;height:15px;}
.font{font-family:"Font Awesome 5 Brands";font-size:15px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(113,120,131);line-height:initial;letter-spacing:normal;text-shadow:none;text-indent:0;text-align:center;padding-top:5px;padding-bottom:5px;margin-top:0;margin-bottom:0;}
.pos-6{position:relative;margin-left:2px;margin-top:5px;}
.cont-5{z-index:18;pointer-events:auto;}
.pos-7{position:relative;margin-left:6px;margin-top:5px;}
.cont-6{z-index:27;pointer-events:auto;}
.pos-8{position:relative;margin-left:364px;margin-top:0;}
.size-6{min-width:475px;width:475px;min-height:31px;height:31px;}
.cont-7{z-index:30;pointer-events:auto;}
.input{border:0;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;background-color:rgb(237,238,242);box-shadow:2px 2px 4px rgba(0,0,0,0.4);padding:4px;width:475px;height:31px;outline:0;font-family:"Helvetica Neue", sans-serif;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(113,120,131);line-height:17px;letter-spacing:normal;text-shadow:none;text-indent:0;padding-right:0;text-align:center;}
.pos-9{position:relative;margin-left:228px;margin-top:57px;}
.size-7{min-width:925px;width:925px;min-height:64px;}
.vis-4{display:inline-block;vertical-align:top;overflow:hidden;}
.size-8{min-width:125px;width:125px;min-height:63px;height:63px;}
.cont-8{z-index:5;pointer-events:auto;}
.para{padding-top:0;text-indent:0;padding-right:0;text-align:center;}
.font-2{font-family:"Istok Web";font-size:30px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(113,120,131);background-color:initial;line-height:60px;letter-spacing:normal;text-shadow:none;}
.pos-10{position:relative;margin-left:74px;margin-top:0;}
.cont-9{z-index:9;pointer-events:auto;}
.pos-11{position:relative;margin-left:76px;margin-top:0;}
.cont-10{z-index:20;pointer-events:auto;}
.pos-12{position:relative;margin-left:75px;margin-top:0;}
.cont-11{z-index:32;pointer-events:auto;}
.pos-13{position:relative;margin-left:75px;margin-top:1px;}
.cont-12{z-index:33;pointer-events:auto;}
.pos-14{position:relative;margin-left:228px;margin-top:5px;}
.size-9{min-width:925px;width:925px;min-height:27px;}
.size-10{min-width:125px;width:125px;min-height:26px;}
.cont-13{z-index:4;pointer-events:auto;}
.button-2{border:0;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;background-color:transparent;}
.button-2:hover{background-color:rgba(33,138,210,0.26125);border-color:rgb(113,120,131);color:rgb(113,120,131);}
.button-2:active{background-color:rgb(82,100,111);border-color:rgb(113,120,131);color:rgb(249,249,249);}
.size-11{width:125px;height:20px;}
.font-3{font-family:"Helvetica Neue", sans-serif;font-size:17px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(113,120,131);line-height:initial;letter-spacing:normal;text-shadow:none;text-indent:0;text-align:center;padding-top:3px;padding-bottom:3px;margin-top:0;margin-bottom:0;}
.cont-14{z-index:6;pointer-events:auto;}
.size-12{width:125px;height:17px;}
.font-4{font-family:"Helvetica Neue", sans-serif;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(113,120,131);line-height:initial;letter-spacing:normal;text-shadow:none;text-indent:0;text-align:center;padding-top:4px;padding-bottom:5px;margin-top:0;margin-bottom:0;}
.cont-15{z-index:11;pointer-events:auto;}
.size-13{min-width:125px;width:125px;min-height:27px;}
.cont-16{z-index:21;pointer-events:auto;}
.font-5{font-family:"Helvetica Neue", sans-serif;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(113,120,131);line-height:initial;letter-spacing:normal;text-shadow:none;text-indent:0;text-align:center;padding-top:5px;padding-bottom:5px;margin-top:0;margin-bottom:0;}
.cont-17{z-index:23;pointer-events:auto;}
.pos-15{position:relative;margin-left:228px;margin-top:3px;}
.cont-18{z-index:7;pointer-events:auto;}
.cont-19{z-index:8;pointer-events:auto;}
.cont-20{z-index:12;pointer-events:auto;}
.cont-21{z-index:14;pointer-events:auto;}
.cont-22{z-index:15;pointer-events:auto;}
.pos-16{position:relative;margin-left:231px;margin-top:3px;}
.size-14{min-width:922px;width:922px;min-height:27px;}
.cont-23{z-index:10;pointer-events:auto;}
.font-6{font-family:"Helvetica Neue", sans-serif;font-size:17px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(113,120,131);line-height:initial;letter-spacing:normal;text-shadow:none;text-indent:0;text-align:center;padding-top:3px;padding-bottom:4px;margin-top:0;margin-bottom:0;}
.pos-17{position:relative;margin-left:71px;margin-top:0;}
.cont-24{z-index:13;pointer-events:auto;}
.cont-25{z-index:22;pointer-events:auto;}
.cont-26{z-index:24;pointer-events:auto;}
.cont-27{z-index:25;pointer-events:auto;}
.size-15{min-width:925px;width:925px;min-height:26px;}
.cont-28{z-index:16;pointer-events:auto;}
.cont-29{z-index:17;pointer-events:auto;}
.cont-30{z-index:19;pointer-events:auto;}
.cont-31{z-index:26;pointer-events:auto;}
.cont-32{z-index:34;pointer-events:auto;}
.pos-18{position:relative;margin-left:228px;margin-top:4px;}
.size-16{min-width:525px;width:525px;min-height:26px;}
.cont-33{z-index:28;pointer-events:auto;}
.cont-34{z-index:35;pointer-events:auto;}
.cont-35{z-index:36;pointer-events:auto;}
.pos-19{position:relative;margin-left:-525px;margin-top:34px;}
.size-17{min-width:325px;width:325px;min-height:26px;}
.cont-36{z-index:29;pointer-events:auto;}
.cont-37{z-index:31;pointer-events:auto;}
